{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--Hero Image-->
<div class="hero-image">
  <img src="{% static 'images/tarot.jpg' %}" alt="Descrição da imagem">
  <div class="hero-text ms-3">
    <h1>Welcome to Starlight Consultations!</h1>
    <p>Your gateway to online esoteric consultations. Let our guides illuminate your path and unveil hidden truths. Start your journey with us today.</p>
  </div>
</div>
<div class="margin-top-div">
  <h3 class= "text-center">
    Our Team
  </h3>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src={% static 'images/birth-chart-serv.png' %} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-text">Birth Chart - Morgana Luna:</h5>
          <p class="card-text">
            Discover the secrets written in the stars with Morgana Luna's personalized birth chart readings. Unveil your destiny and gain insight into your life's journey. 
          </p>        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src={% static 'images/tarot-serv.png' %} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-text">Tarot Reading - Esmeralda Bruma:</h5>
          <p class="card-text">
            Embark on a journey of self-discovery and enlightenment with Esmeralda Bruma's intuitive tarot readings. Gain clarity and guidance for the path ahead.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src={% static 'images/runes-serv3.png' %} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-text">Runes - Ruby Sinclair:</h5>
          <p class="card-text">
            Unlock the ancient wisdom of the Runes with Ruby Sinclair. Let the mystical symbols guide you through life's challenges and opportunities.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container margin-top-div">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center justify-content-md-end mb-3 mb-md-0 text-center">
      <i class="fa-regular fa-clock icon-image"></i>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start">
      <p class="text-center text-md-start">Looking to schedule your online consultation? Join us on our website and gain exclusive access to book your appointments conveniently and quickly. Register now and start planning your future with ease!</p>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start">
        <button type="button" class="btn btn-secondary btn-lg btn-book">Book Now!</button>
    </div>
  </div>
</div>

{% endblock content %}
