{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--Hero Image-->
<div class="hero-image">
  <img src="{% static 'images/tarot.jpg' %}" alt="Descrição da imagem">
  <div class="hero-text ms-3">
    <h1>Bem-vindo à nossa Página!</h1>
    <p>Aqui você encontra tudo o que precisa.</p>
  </div>
</div>

<h3>
  Our Team
</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <p class="card-text">Card 1 - Some quick example text to build on the card title and make up the bulk
            of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <p class="card-text">Card 2 - Some quick example text to build on the card title and make up the bulk
            of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <p class="card-text">Card 3 - Some quick example text to build on the card title and make up the bulk
            of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>{% endblock content %}
