{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--Hero Image-->
<div class="hero-image">
  <img src="{% static 'images/tarot.jpg' %}" alt="Descrição da imagem">
  <div class="hero-text ms-3">
    <h1>Welcome to Starlight Consultations!</h1>
    <p>Your gateway to online esoteric consultations. Let our guides illuminate your path and unveil hidden truths. Start your journey with us today.</p>
  </div>
</div>

<h3 class= "text-center">
  Our Team
</h3>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src={% static 'images/birth-chart-serv.png' %} class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src={% static 'images/tarot-serv.png' %} class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src={% static 'images/runes-serv.png' %} class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>


</div>{% endblock content %}
