{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="container"> 
  <h2 class="">Booking Content</h2>
  <div class="row justify-content-center"> 
      <div class="col-md-4"> 
          <!-- Start of booking form -->
          <form method="post" action="{% url 'create_booking' %}" class="mb-3"> 
              {% csrf_token %}
              {{ html_form.as_p }}
              <button type="submit" class="btn btn-primary btn-save">Save</button> 
          </form>
          <!-- End of booking form -->
      </div>
  </div>
</section>
<section class="container margin-bottom-div">
  <div class="row justify-content-center">
    <div class="col-md-9 col-12">
      <h2 class="text-center">Next Bookings</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Service</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in html_list %}
            <tr>
              <td>{{ booking.service.name }}</td> <!-- Display the name of the service associated with the booking -->
              <td>{{ booking.booking_date }}</td> <!-- Display the booking date -->
              <td>{{ booking.booking_time }}</td> <!-- Display the booking time -->
              <td>
                <!-- Edit and delete buttons for the booking -->
                <a href="{% url 'edit_booking' booking_id=booking.id %}" class="btn btn-primary btn-edit" aria-label="Edit booking"><i class="far fa-edit" aria-hidden="true"></i></a>
                <a href="{% url 'delete_booking' booking_id=booking.id %}" class="btn btn-secondary btn-delete" aria-label="Delete booking"><i class="far fa-trash-alt" aria-hidden="true"></i></a>
                              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
