{% extends 'base.html' %}


{% block content %}
<section class="container"> 
  <h2 class="">Booking Content</h2>
  <div class="row justify-content-center"> 
      <div class="col-md-6"> 
          <form method="post" action="{% url 'create_booking' %}" class="mb-3"> 
              {% csrf_token %}
              {{ html_form.as_p }}
              <button type="submit" class="btn btn-primary btn-save">Save</button> 
          </form>
      </div>
  </div>
</section>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-12">
      <h2 class="text-center">Next Bookings</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Service</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in html_list %}
            <tr>
              <th scope="row">1</th>
              <td>{{ booking.service.name }}</td>
              <td>{{ booking.booking_date }}</td>
              <td>{{ booking.booking_time }}</td>
              <td>
                <div class="btn-group" role="group">
                  <form method="post" action="{% url 'edit_booking' %}" class="mb-3"> 
                    <button type="button" class="btn btn-primary btn-edit" aria-label="Edit"><i class="far fa-edit"></i></button>
                  </form>
                  <form method="post" action="{% url 'delete_booking' %}" class="mb-3">
                    <button type="button" class="btn btn-secondary btn-delete" aria-label="Delete"><i class="far fa-trash-alt"></i></button>
                  </form>
                  </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
