{% extends 'base.html' %}

{% load static %}

{% block content %}
  <section class="container margin-bottom-div text-center">
    <h2>Delete Booking</h2>
    <p>Are you sure you want to delete this booking?</p>
    <p>This action cannot be undone.</p>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="text-center" method="POST" action="{% url 'delete_booking' booking_id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn-save btn btn-primary" aria-label="Confirm delete booking"> Yes </button>
          <a href="{% url 'create_booking' %}" class="btn-cancel btn btn-secondary" aria-label="Cancel delete and go back to booking page">Cancel</a>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
