body {
    background-color: #F9FAFC;
    padding-top: 80px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
}

h2{
    font-size: 130%;
}

main {
    padding-bottom: 10%;

}

.main-bg {
    background-color: #F9FAFC;
}

.margin-top-div{
    margin-top: 50px !important;
}

.margin-bottom-div{
    margin-bottom: 20px !important;
}


/*-- nav style --*/

.brand-first {
    font-family: "Mystery Quest", system-ui;
    font-weight: 600;
    font-size: 2.4rem;
    color: #4A4A4F;
}

.brand {
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-size: 2.4rem;
    color: #4A4A4F;
}

.light-purple-bg{
    background-color: #f8cbfe;
}

.purple-first {
    color: #a80bb0;
}


/*-- hero style --*/

.hero-image {
    position: relative;
    width: 100%; 
    height: 500px;
}

.hero-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.hero-text {
    position: absolute;
    top: 50%;
    right: 0; 
    transform: translateY(-50%); 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    width: 80%; 
    box-sizing: border-box; 
    text-align: center; 
}


/*-- team section --*/

.icon-image{
    font-size: 800%;
    color:#eeaef6;
}

.icon-color{
    font-size: 130%;
    color:#eeaef6;
}

/*-- footer --*/

.copyright{
    font-size: 80%;
}

/*-- about page --*/

.scale {
    width: 100%;
    height: auto;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.masthead-text {
    font-family: "Mystery Quest", system-ui;
    letter-spacing: 5px;
    background-color: #eeaef6;
    color: black;
    padding-left: 50px;
    padding-top: 150px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #eeaef6;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(10deg);
    z-index: 100;
}

/*-- booking section --*/

.errorlist {
    border-width: 1px;
    border-style: double;
    background-color: #ece3e3;
    border-color: #c34141;
    list-style-type: none;
    font-weight: 400;
    border-radius: 5px;
}


/*-- buttons styles --*/

.btn-save,
.btn-signup,
.btn-edit,
.btn-book {
    background-color: #a80bb0;
    color: #fff;
    border-color:#a80bb0;

}

.btn-save:hover,
.btn-save:active,
.btn-signup:hover,
.btn-signup:active,
.btn-book:hover,
.btn-book:active {
    background-color: #fff;
    color: #a80bb0;
    border-color:#a80bb0;
}


.btn-edit {
    background-color: #fff;
    color: #8c778c;
    border-color:#8c778c;

}

.btn-edit:hover,
.btn-edit:active {
    background-color: #8c778c;
    color: #fff;
    border-color:#8c778c;}

.btn-delete {
    background-color: #fff;
    color: #bb370b;
    border-color:#bb370b;

}


.btn-delete:hover,
.btn-delete:active {
    color: #fff;
    background: #bb370b;
}

/*-- login/logout page --*/

.link {
    color: #a80bb0;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}



/* Additional styles for smaller screens */
@media (max-width: 768px) {
    .table th, .table td {
      font-size: 14px; 
    }
    .hero-text {
        padding: 10px;
    }
    main {
        padding-bottom: 40%;
    
    }
    

  }
  