body {
    background-color: #F9FAFC;
    padding-top: 80px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
  
}

h2{
    font-size: 130%;
}

.brand-first {
    font-family: "Mystery Quest", system-ui;
    font-weight: 600;
    font-size: 2.4rem;
    color: #4A4A4F;
}

.brand {
    font-family: "Mystery Quest", system-ui;
    font-weight: 300;
    font-size: 2.4rem;
    color: #4A4A4F;
}

.light-purple-bg{
    background-color: #f8cbfe;
}

.purple-first {
    color: #a80bb0;
}

.hero-image img {
    width: 100%;
    height: 500px;
    object-fit: cover; 
}

.hero-text {
    position: absolute;
    top: 50%;
    text-align: end; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

.copyright{
    font-size: 80%;
}

.margin-top-div{
    margin-top: 50px !important;
}

.margin-bottom-div{
    margin-bottom: 20px !important;
}

.icon-image{
    font-size: 800%;
    color:#eeaef6;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}


.scale {
    width: 100%;
    height: auto;
}


.profile-image {
    width: 75%;
}

.btn-signup,
.btn-edit {
    background-color: #a80bb0;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #a80bb0;
}

.link {
    color: #a80bb0;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}
