{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/about.png' %}" width="100%">
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Book now button -->
            <div class="text-end">
                <button type="button" class="btn btn-secondary btn-lg btn-book">Book Now!</button>
            </div>  
            <!-- Updated on field goes in here -->
            <br>
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>

        </div>
      </div>
</div>

{% endblock content %}